<template>
    <div>
        <div class="level">
            <img :src="avatar" alt="avatar" width="100" class="pb-2 mr-1">

            <h1>
                {{ user.name }}
                <small v-text="">since {{ user.created_at }}</small>
            </h1>
        </div>

        <form v-if="canUpdate"
              enctype="multipart/form-data"
              method="post">

            <image-upload name="avatar" class="mr-1" @loaded="onLoad"></image-upload>
        </form>
    </div>
</template>

<script>
    import ImageUpload from './ImageUpload.vue';

    export default {
        props: ['user'],

        components: [ImageUpload],

        data() {
            return {
                avatar: this.user.avatar_path
            }
        },

        computed: {
            canUpdate() {
                return this.authorize(user => user.id === this.user.id);
            }
        },

        methods: {
            onLoad(avatar) {
                this.avatar = avatar.src;
                this.persist(avatar.file);
            },

            persist(avatar) {
                let data = new FormData();

                data.append('avatar', avatar);

                axios.post(`/api/users/${this.user.name}/avatar`, data)
                    .then(() => flash('Avatar uploaded'));
            }
        }
    }
</script>