<template>
    <div>
        <div v-if="signedIn">
            <div class="form-group">
        <textarea name="body"
                  id="body"
                  v-model="body"
                  required
                  rows="5"
                  placeholder="Have something to say?"
                  class="form-control"></textarea>
            </div>

            <button type="submit"
                    @click="addReply"
                    class="btn btn-default">Post
            </button>
        </div>

        <p class="text-center" v-else>Please <a href="/login">sign in</a> to participate in this discussion</p>
    </div>
</template>

<script>
    import 'at.js';
    import 'jquery.caret';

    export default {
        data() {
            return {
                body: ''
            };
        },

        mounted() {
            $('#body').atwho({
                at: "@",
                delay: 750,
                callbacks: {
                    remoteFilter: function(query, callback) {
                        $.getJSON("/api/users", {name: query}, function(usernames) {
                            callback(usernames);
                        });
                    }
                }
            });
        },

        methods: {
            addReply() {
                axios
                    .post(location.pathname + '/replies', {body: this.body})
                    .catch(error => {
                        flash(error.response.data, 'danger');
                    })
                    .then(({data}) => {
                        this.body = '';
                        flash('Your reply has been posted');

                        this.$emit('created', data);
                    });
            }
        }

    }
</script>