<template>
    <li class="dropdown" v-if="notifications.length">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-bell"></span>
      </a>

      <ul class="dropdown-menu">
        <li v-for="notification in notifications">
          <a :href="notification.data.link"
             @click="markAsRead(notification)"
             v-text="notification.data.message"></a>
        </li>
      </ul>
    </li>
</template>

<script>
  export default {
    data() {
      return {
        notifications: []
      };
    },

    created() {
      axios
        .get(`/profiles/${window.App.user.name}/notifications`)
        .then(response => this.notifications = response.data);
    },

    methods: {
      markAsRead(notification) {
        axios
          .delete(`/profiles/${window.App.user.name}/notifications/${notification.id}`)
          .then(response => {

          });
      }
    }
  }
</script>